users: &users []
tls_server_name: &tls_server_name addons.mozilla.org
obfs_password: &obfs_password passwordneedtobechangedonce==


handshake: &handshake
  server: *tls_server_name
  server_port: 443

obfs: &obfs
  type: salamander
  password: *obfs_password

ech: &ech
  enabled: true
  key_path: /sing-box/certs/ech.key

tls: &tls
  enabled: true
  server_name: *tls_server_name
  alpn:
    - h3
  min_version: "1.3"
  key_path: /sing-box/certs/private.key
  certificate_path: /sing-box/certs/certificate.crt
  ech: *ech

multiplex: &multiplex
  enabled: true
  padding: false

log:
  level: warn
  timestamp: true

dns: {}

endpoints: []

experimental: {}

inbounds:
  - tag: shadowsocks
    type: shadowsocks
    listen: 0.0.0.0
    method: xchacha20-ietf-poly1305
    users: *users
    managed: true
    multiplex: *multiplex

  - tag: trojan
    type: trojan
    listen: 0.0.0.0
    users: *users
    tls: *tls
    multiplex: *multiplex

  - tag: hysteria2
    type: hysteria2
    listen: 0.0.0.0
    up_mbps: 1000
    down_mbps: 1000
    ignore_client_bandwidth: false
    obfs: *obfs
    users: *users
    tls: *tls
    masquerade: {}
    brutal_debug: false

  - tag: shadowtls
    type: shadowtls
    listen: 0.0.0.0
    detour: shadowsocks
    version: 3
    users: *users
    handshake: *handshake
    strict_mode: true

outbounds:
  - tag: direct
    type: direct

services:
  - tag: ssm-api
    type: ssm-api
    listen: 0.0.0.0
    listen_port: 8888
    cache_path: /sing-box/cache/ssm-cache.json
    servers:
      /: shadowsocks
