services:
  nekohasekai:
    image: ghcr.io/sagernet/sing-box:v1.12.14
    pull_policy: always
    restart: unless-stopped
    command: ["run", "-C", "/sing-box/configs"]
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    env_file:
      - .env
    networks:
      - nekohasekai-net
    ports:
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/tcp"
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/udp"
    volumes:
      - ./cache:/sing-box/cache
      - ./configs:/sing-box/configs:ro
      - ./certs:/sing-box/certs:ro
      - ./public:/sing-box/public:ro
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  nekohasekai-api:
    image: ghcr.io/minlaxz/nekohasekai:sing-box-api
    pull_policy: always
    restart: unless-stopped
    # See more options at https://fastapi.tiangolo.com/deployment/docker/
    command:
      ["fastapi", "run", "app/main.py", "--port", "8000", "--proxy-headers"]
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    depends_on:
      - nekohasekai
    networks:
      - caddy-net
      - nekohasekai-net
    expose:
      - "8000"
    env_file:
      - .env
    volumes:
      - ./public:/public:ro
    labels:
      caddy: ${APP_CONFIG_HOST}
      caddy.reverse_proxy: "{{upstreams 8000}}"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  nekohasekai-net:
    driver: bridge
  caddy-net:
    external: true