services:
  nekohasekai:
    image: ghcr.io/sagernet/sing-box:v1.12.14
    pull_policy: always
    restart: unless-stopped
    command: ["run", "-C", "/sing-box/configs"]
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    env_file:
      - .env
    volumes:
      - ./cache:/sing-box/cache
      - ./configs:/sing-box/configs
      - ./certs:/sing-box/certs
      - ./public:/sing-box/public
    ports:
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/tcp"
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/udp"
    networks:
      - nekohasekai-net

  nekohasekai-api:
    image: ghcr.io/minlaxz/nekohasekai:sing-box-api
    pull_policy: always
    restart: unless-stopped
    # See more options at https://fastapi.tiangolo.com/deployment/docker/
    command: ["fastapi", "run", "app/main.py", "--port", "8000", "--proxy-headers"]
    depends_on:
      - nekohasekai
    volumes:
      - ./public:/public:ro
    env_file:
      - .env
    expose:
      - "8000"
    networks:
      - caddy-net
      - nekohasekai-net
    labels:
      caddy: ${APP_CONFIG_HOST}
      caddy.reverse_proxy: "{{upstreams 8000}}"

  headscale:
    image: docker.io/headscale/headscale:0.27.1
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "8080"
    volumes:
      - ./hs-config:/etc/headscale
      - ./hs-lib:/var/lib/headscale
      - ./hs-run:/var/run/headscale
    command: serve
    healthcheck:
      test: ["CMD", "headscale", "version"]
    networks:
      - nekohasekai-net
      - caddy-net
    labels:
      caddy: ${APP_HS_HOST}
      caddy.reverse_proxy: "{{upstreams 8080}}"
    profiles:
      - with-headscale

networks:
  nekohasekai-net:
    driver: bridge
  caddy-net:
    external: true
