services:
  sing-box:
    image: ghcr.io/minlaxz/nekohasekai:neko
    pull_policy: always
    restart: unless-stopped
    command: ["/sing-box/sing-box", "run", "-C", "/sing-box/configs"]
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    env_file:
      - ./sing-box.env
    networks:
      - nekohasekai-net
    ports:
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/tcp"
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/udp"
    volumes:
      - ./cache:/sing-box/cache
      - ./configs:/sing-box/configs
      - ./public:/sing-box/public
      - ./certs:/sing-box/certs:ro
      - ./users.yaml:/sing-box/users.yaml:ro
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  api:
    image: ghcr.io/minlaxz/nekohasekai:neko-api
    pull_policy: always
    restart: unless-stopped
    # See more options at https://fastapi.tiangolo.com/deployment/docker/
    command:
      ["fastapi", "run", "app/main.py", "--port", "8000", "--proxy-headers"]
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
    env_file:
      - ./api.env
    depends_on:
      - sing-box
    networks:
      - caddy-net
      - nekohasekai-net
    expose:
      - "8000"
    volumes:
      - ./public:/public:ro
    labels:
      caddy: ${APP_HOST}
      caddy.reverse_proxy: "{{upstreams 8000}}"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  nekohasekai-net:
    driver: bridge
  caddy-net:
    external: true
