services:
  nekohasekai:
    image: ghcr.io/minlaxz/nekohasekai:nekohasekai
    # image: docker.io/minlaxz/nekohasekai:nekohasekai
    pull_policy: always
    command: ["./sing-box", "run", "-C", "/sing-box/conf"]
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    environment:
      - START_PORT=${START_PORT}
      - END_PORT=${END_PORT}
      - SKIP_INIT=${SKIP_INIT}
      - HANDSHAKE_DOMAIN=${CONFIG_HOST}
      - SHADOWSOCKS=${SHADOWSOCKS}
      - TROJAN=${TROJAN}
      - HYSTERIA2=${HYSTERIA2}
    volumes:
      - ./cache:/sing-box/cache
      - ./public:/sing-box/public
      - ./conf:/sing-box/conf
    ports:
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/tcp"
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/udp"
    networks:
      - nekohasekai-net

  nekohasekai-api:
    image: ghcr.io/minlaxz/nekohasekai:nekohasekai-api
    # image: docker.io/minlaxz/nekohasekai:nekohasekai-api
    pull_policy: always
    depends_on:
      - nekohasekai
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - START_PORT=${START_PORT}
      - END_PORT=${END_PORT}
      - CONFIG_HOST=${CONFIG_HOST}
      - SSM_SERVER=${SSM_SERVER}
      - DNS_HOST=${DNS_HOST}
      - DNS_PATH=${DNS_PATH}
      - LOCAL_JSON_PATH=${LOCAL_JSON_PATH}
      - REMOTE_JSON_URL=${REMOTE_JSON_URL}
    volumes:
      - ./public:/public:ro
    expose:
      - "8000"
    networks:
      - caddy-net
      - nekohasekai-net
    labels:
      caddy: ${CONFIG_HOST}
      caddy.reverse_proxy: "{{upstreams 8000}}"

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    # image: docker.io/wg-easy/wg-easy:15
    pull_policy: always
    depends_on:
      - nekohasekai-api
    environment:
      - WG_HOST=${WG_HOST}
      - WG_PORT=${WG_PORT}
      - INSECURE=false
    volumes:
      - /lib/modules:/lib/modules:ro
      - ./etc_wireguard:/etc/wireguard
    ports:
      - "${WG_PORT}:${WG_PORT}/udp"
    expose:
      - "51821"
    networks:
      caddy-net:
      wg:
        ipv4_address: 10.42.42.42
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.all.forwarding=0
      - net.ipv6.conf.default.forwarding=0
    labels:
      caddy: ${WG_HOST}
      caddy.reverse_proxy: "{{upstreams 51821}}"

networks:
  nekohasekai-net:
    driver: bridge
  caddy-net:
    external: true
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
