services:
  nekohasekai:
    image: ghcr.io/minlaxz/nekohasekai:nekohasekai
    pull_policy: always
    restart: unless-stopped
    command: ["./sing-box", "run", "-C", "/sing-box/conf"]
    env_file:
      - .env
    volumes:
      - public:/sing-box/public
      - ./cache:/sing-box/cache
    ports:
      - "8840-8850:8840-8850/tcp"
      - "8840-8850:8840-8850/udp"
    networks:
      - nekohasekai-net

  nekohasekai-api:
    image: ghcr.io/minlaxz/nekohasekai:nekohasekai-api
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - nekohasekai
    env_file:
      - .env
    volumes:
      - public:/public:ro
    expose:
      - "8000"
    networks:
      - caddy-net
      - nekohasekai-net
    labels:
      caddy: sb.example.com
      caddy.reverse_proxy: "{{upstreams 8000}}"
      # -------- BOT RATE LIMITING --------
      # caddy.@bots.header: "User-Agent *bot*"
      # caddy.route.0.rate_limit: "@bots"
      # caddy.route.0.rate_limit.window: 1m
      # caddy.route.0.rate_limit.burst: 5
      # (Optional) Block sensitive scanner paths (.env, .git)
      # caddy.@blocked.path: "/.env* /.*.git*"
      # caddy.route.1.respond: "@blocked 403"
      # (Optional) Rate limit everyone globally
      # caddy.route.2.rate_limit: "*"
      # caddy.route.2.rate_limit.window: 1m
      # caddy.route.2.rate_limit.burst: 120

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - nekohasekai-api
    env_file:
      - .env
    volumes:
      - /lib/modules:/lib/modules:ro
      - ./etc_wireguard:/etc/wireguard
    ports:
      - "51820:51820/udp"
    networks:
      caddy-net:
      wg:
        ipv4_address: 10.42.42.42
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    labels:
      caddy: wgeasy.example.com
      caddy.reverse_proxy: "{{upstreams 51821}}"

volumes:
  public:
  data:

networks:
  nekohasekai-net:
    driver: bridge
  caddy-net:
    external: true
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
