services:
  nekohasekai:
    image: ghcr.io/minlaxz/nekohasekai:nekohasekai
    pull_policy: always
    restart: unless-stopped
    container_name: nekohasekai-${PREFIX}
    command: ["./sing-box", "run", "-C", "/sing-box/conf"]
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    env_file:
      - .env
    volumes:
      - ./cache:/sing-box/cache
      - ./public:/sing-box/public
      - ./conf:/sing-box/conf
    ports:
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/tcp"
      - "${START_PORT}-${END_PORT}:${START_PORT}-${END_PORT}/udp"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${START_PORT}"]
      start_period: 5s
      start_interval: 10s
      interval: 5m
      timeout: 5s
      retries: 3
    networks:
      - nekohasekai-net

  nekohasekai-api:
    image: ghcr.io/minlaxz/nekohasekai:nekohasekai-api
    pull_policy: always
    restart: unless-stopped
    container_name: nekohasekai-api-${PREFIX}
    # See more options at https://fastapi.tiangolo.com/deployment/docker/
    command: ["fastapi", "run", "app/main.py", "--port", "8000", "--proxy-headers"]
    depends_on:
      nekohasekai:
        condition: service_healthy
    volumes:
      - ./public:/public:ro
    env_file:
      - .env
    expose:
      - "8000"
    networks:
      - caddy-net
      - nekohasekai-net
    labels:
      caddy: ${APP_CONFIG_HOST}
      caddy.reverse_proxy: "{{upstreams 8000}}"

  headscale:
    image: docker.io/headscale/headscale:0.26.1
    restart: unless-stopped
    container_name: headscale-${PREFIX}
    environment:
      - HS_HOST=${HS_HOST}
    expose:
      - "8080"
    volumes:
      - ./hs-config:/etc/headscale
      - ./hs-lib:/var/lib/headscale
      - ./hs-run:/var/run/headscale
    command: serve
    healthcheck:
      test: ["CMD", "headscale", "version"]
    networks:
      - caddy-net
    labels:
      caddy: ${HS_HOST}
      caddy.reverse_proxy: "{{upstreams 8080}}"

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    # image: docker.io/wg-easy/wg-easy:15
    pull_policy: always
    depends_on:
      - nekohasekai-api-${PREFIX}
    restart: unless-stopped
    container_name: wg-easy-${PREFIX}
    environment:
      - WG_HOST=${WG_HOST:-changeme.example.com}
      - WG_PORT=${WG_PORT:-51820}
      - INSECURE=false
    volumes:
      - /lib/modules:/lib/modules:ro
      - ./etc_wireguard:/etc/wireguard
    ports:
      - "${WG_PORT}:${WG_PORT}/udp"
    expose:
      - "51821"
    networks:
      caddy-net:
      wg:
        ipv4_address: 10.42.42.42
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    labels:
      caddy: ${WG_HOST}
      caddy.reverse_proxy: "{{upstreams 51821}}"
    profiles:
      - with-wireguard

networks:
  nekohasekai-net:
    driver: bridge
  caddy-net:
    external: true
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
