services:
  warp:
    image: ghcr.io/minlaxz/warp-docker:2025.6.1335.0-3.2.4
    hostname: ss-sb-warp
    device_cgroup_rules:
      - 'c 10:200 rwm'
    ports:
      - "127.0.0.1:1080:1080"
    env_file:
      - .env
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.forwarding=1
    volumes:
      - data:/var/lib/cloudflare-warp

  sing-box:
    image: ghcr.io/minlaxz/nekohasekai:sing-box-v2
    pull_policy: always
    restart: unless-stopped
    ports:
      - "8840-8850:8840-8850/tcp"
      - "8840-8850:8840-8850/udp"
    env_file:
      - .env
    volumes:
      - public:/sing-box/public

  config-server:
    image: ghcr.io/minlaxz/nekohasekai:config-server
    pull_policy: always
    restart: unless-stopped
    depends_on:
      - sing-box
    ports:
      - "127.0.0.1:8851:8851"
    env_file:
      - .env
    volumes:
      - public:/data:ro

  redis:
    image: redis:alpine
    restart: unless-stopped
    expose:
      - "6379"

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    depends_on:
      - sing-box
    ports:
      - "80:80"
      - "443:443"

volumes:
  public:
  data:
