services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    restart: unless-stopped
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
      caddy-net:
    expose:
      - "51821"
    ports:
      - "${WG_PORT}:51820/udp" # need to open UDP 8888 on your firewall
    volumes:
      - ./etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    environment:
      - PORT=51821
      - HOST=0.0.0.0
      - INSECURE=false
    labels:
      caddy: ${WG_HOST}
      caddy.reverse_proxy: "{{upstreams 51821}}"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  caddy-net:
    external: true
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
