services:
  nekohasekai-api:
    image: ghcr.io/minlaxz/nekohasekai:neko-api
    pull_policy: always
    restart: unless-stopped
    # See more options at https://fastapi.tiangolo.com/deployment/docker/
    command:
      ["fastapi", "run", "app/main.py", "--port", "8000", "--proxy-headers"]
    mem_limit: 128m
    mem_reservation: 64m
    memswap_limit: -1 # no swap limit
    networks:
      - caddy-net
      - nekohasekai-net
    expose:
      - "8000"
    volumes:
      - ./public:/public:ro
    labels:
      caddy: ${APP_HOST}
      caddy.reverse_proxy: "{{upstreams 8000}}"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  nekohasekai-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.172.172.172