name: Cleanup Runs, Artifacts and Packages

on:
  schedule:
  # Run every day at 6 past 9 UTC
    - cron: "6 9 * * *"
  workflow_dispatch:
  workflow_run:
    workflows: ["Collect custom rules", "Collect OONI MM rules", "Build Sing-box API Image", "Publish sekai-generator to PyPI"]
    types:
      - completed

jobs:
  run:
    name: Cleanup Job
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 3
          keep_minimum_runs: 3
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          keep-n-tagged: 3
          delete-untagged: true
      - uses: geekyeggo/delete-artifact@v5
        with:
          name: '*'